[Unit]
Description=Smart monitoring tool with modular scripts.
After=network.target

[Service]
Type=simple
#User=mon-script
#Group=mon-script
ExecStart=/usr/local/bin/siandjiservmon
Restart=always
RestartSec=5

# Security
#NoNewPrivileges=true
#PrivateTmp=true
#ProtectSystem=full
#ProtectHome=true

[Install]
WantedBy=multi-user.target
